.aboutus-container {
    ul {
        margin: 20px 10px;
        li {
            margin: 0 10px;
            line-height: 25px;
            font-size: 18px;
            font-family: 'Quicksand', sans-serif;
        }
    }
}