.gallery-container {
    text-align: center;
    img {
        display: inline-block;
        height: 170px;
        margin: 15px;
        border: 1px solid #fbb26b;
    }
}

.order-scope-box {
    p {
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        padding: 0;
    }

    ul {
        li {
            font-family: 'Quicksand', sans-serif;
            font-size: 16px;
            margin: 5px 0;
        }
    }
}