.main-banner {
    width: 100%;
    height: 500px;
    background-image: url('/images/sliderImages/background-slider-2.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.main-banner-title {
    max-width: 80%;
    margin: auto auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .title-box{
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50px 50px 50px 50px;
        visibility: inherit;
        transition: none 0s ease 0s;
        text-align: inherit;
        line-height: 35px;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
        letter-spacing: 0px;
        font-weight: 400;
        font-size: 12px;
        margin: 0px auto 15px auto;
    }

    h1{
        font-size: 28px;
        padding: 20px;
        font-weight: 700;
        font-family: 'Quicksand', sans-serif;
    }

    h2{
        font-size: 22px;
        padding: 20px;
        font-weight: 700;
        font-family: 'Quicksand', sans-serif;
    }

}

.service-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: calc(100% - 20px);
    
    .service-box {
        width: 25%;
        margin: 0 15px 0 15px;
        .service-image-wrapper {
            width: 100%;
            height: 180px;
            border-radius: 10px;
            overflow: hidden;
            max-width: 300px;
            margin: auto;
        }
        .service-title {
            h3 {
                text-align: center;
                font-family: 'Quicksand', sans-serif;
                font-size: 22px;
                font-weight: 700;
                margin: 10px 0;
                line-height: 25px;
            }
        }
    }
}

.area-service-container,.howwework-service-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 0;

    p{
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: 500;
    }

    ul {
        li {
            padding: 0 0 15px 30px;
            font-size: 18px;
            line-height: 22px;

        }
    }

    .cities-box {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 50%;
                padding-left: 0;
            }
        }
    }

    .area-service-image {
        text-align: center;
        img {
            width: 60%;
        }
    }

    .howwework-service-video-box {
        text-align: center;
        width: 360px;
        margin: auto auto;
        height: 560px;
        border: 2px solid #fbb26b;
        border-radius: 10px;

        .ytp-large-play-button {
            width: 68px;
            height: 48px;
            background: none;
            border: none;
            cursor: pointer;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        iframe {
            border: 2px solid #fbb26b;
            border-radius: 10px;
        }
    }

    .video-1-background {
        background: url('/images/howweworkImages/1.jpeg');
        background-size: cover;
        background-position: 50% 50%;
    }

    .video-2-background {
        background: url('/images/howweworkImages/2.jpeg');
        background-size: cover;
        background-position: 50% 50%;
    }

    .video-3-background {
        background: url('/images/howweworkImages/3.jpeg');
        background-size: cover;
        background-position: 50% 50%;
    }

    .howwework-service-box {
        display: flex !important;
        justify-content: center;
        flex-direction: row;
        outline: none;
        height: auto;
    }

    .slick-prev,.slick-next {
        width: 60px;
        height: 60px;
        z-index: 99;
        &:before {
            color: #fbb26b;
            font-size: 60px;
        }
    }
}

.left-side-content {
    width: 50%;
}
.right-side-content {
    width: 50%;
}

.projects-slide {
    max-height: 300px;
    margin: 0 10px 0 10px;

    img {
        width: 100%;
        height: auto;
    }
}

.projects-image-1 {
    background: url('/images/mainSliderImages/3.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.projects-image-2 {
    background: url('/images/mainSliderImages/4.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.projects-image-3 {
    background: url('/images/mainSliderImages/5.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.projects-image-4 {
    background: url('/images/mainSliderImages/6.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.projects-image-5 {
    background: url('/images/mainSliderImages/7.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.projects-image-6 {
    background: url('/images/mainSliderImages/8.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.our-projects-container {
    .projects-slide {

        img {
            width: 100%;
            height: auto;
            border: 2px solid #fbb26b;
            border-radius: 10px;
        }
    }
}

.chem-logos-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    .chem-logo-box {
        width: 22%;
        position: relative;
        img {
            width: 100%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.why-us-boxes-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto;
    width: calc(100% - 20px);
    .why-us-single-box {
        width: 25%;
        padding: 20px;
        border: 1px solid #fbb26b47;
        margin: 10px 0 20px 0;
        background-color: #fff;
        h3 {
            font-weight: 600;
            font-family: 'Quicksand', sans-serif;
            font-size: 18px;
            padding-left: 60px;
            position: relative;
            margin: 10px 0 0 0;
            i {
                font-size: 35px;
                color: #fbb26b;
                position: absolute;
                left: 0px;
                top: -5px;
            }
        }
        p {
            margin: 25px 0 10px 0;
            font-size: 14px;
            padding-bottom: 0;
            text-align: justify;
        }
    }
}

