@import "reset.scss";
@import "components/components.scss";
@import "components/responsive/componentsRwd.scss";
@import "sections/header.scss";
@import "sections/responsive/headerRwd.scss";
@import "sections/footer.scss";
@import "sections/responsive/footerRwd.scss";
@import "sections/footer.scss";
@import "pages/aboutus.scss";
@import "pages/responsive/aboutusRwd.scss";
@import "pages/blog.scss";
@import "pages/responsive/blogRwd.scss";
@import "pages/faq.scss";
@import "pages/responsive/faqRwd.scss";
@import "pages/gallery.scss";
@import "pages/responsive/galleryRwd.scss";
@import "pages/mainpage.scss";
@import "pages/responsive/mainpageRwd.scss";
@import "pages/prices.scss";
@import "pages/responsive/pricesRwd.scss";


    .service-contact-container {
        width: 100%;
        height: 300px;
        background: url('/images/commercial_1.jpg');
        background-size: cover;
        background-position: -200px 20%;
        position: relative;

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 70%);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        .service-contact-box {
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding: 20px;

            h2 {
                font-size: 32px;
                padding: 20px;
                font-weight: 700;
                font-family: 'Quicksand', sans-serif;
                color: #fff;
                position: relative;
                z-index: 9;
            }

            p {
                padding: 20px;
                color: #fff;
                position: relative;
                z-index: 9;
                font-size: 22px;
                line-height: 28px;
            }

            a{
                width: 100%;
                height: 100%;
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
            }

            .fb-btn {
                height: 70px;
                width: 70px;
                background: url(/images/FB-logo.png);
                background-size: cover;
                position: relative;
                z-index: 9;
                margin: auto auto;
            }

            .order-btn {
                font-size: 18px;
                padding: 20px;
                font-weight: 700;
                font-family: 'Quicksand', sans-serif;
                color: #fff;
                position: relative;
                z-index: 9;      
                border: 1px solid #fff;
                border-radius: 5%;
                width: 100px;
                margin: auto auto;
                top: 50%;
                transform: translateY(-50%);
        }


        }

    }

    .contact-container {
        .contact-box {
            font-size: 22px;
            font-weight: 700;
            text-align: center;
            padding: 80px 0 80px 0;
        }
    }

    .gallery-container {
        text-align: center;
        img {
            display: inline-block;
            height: 200px;
            margin: 20px;
            border: 1px solid #fbb26b;
        }
    }

    .our-projects-container {
        .projects-slide {
            border: 2px solid #fbb26b;
            border-radius: 10px;
        }
    }

    .prices-container {
        .price-table {
            width: 80%;
            margin: 20px auto;

            tr {
                transition: all 0.5s;

                border-bottom: 1px solid rgba(0, 0, 0, 0.09);
            }

            td {
                padding: 2px 0;
            }

            th {
                text-align: center;
                font-size: 22px;
                color: #000;
                line-height: 20px;
                font-weight: normal;
                padding: 0px 0px 10px 0px;
                font-family: 'Quicksand', sans-serif;
                font-weight: 700;
            }

            h3 {
                margin: 25px 0 15px 0;
            }

            .service-name {
                width: 75%;
                text-align: left;
                font-family: 'Quicksand', sans-serif;
                font-size: 16px;
                color: #000;
                line-height: 18px;
                font-weight: normal;   
                font-weight: 500; 
            }

            .service-price {
                width: 25%;
                text-align: right;
                font-family: 'Quicksand', sans-serif;
                font-size: 16px;
                color: #000;
                line-height: 18px;
                font-weight: normal;
                font-weight: 500; 
                vertical-align: middle;
            }

            .sub-info {
                display: block;
                font-family: 'Quicksand', sans-serif;
                font-size: 12px;
                font-style: italic;
            }
        }
    }

    .no-border {
        border-bottom: none !important;
    }

    .faq-container {
        /* Style the button that is used to open and close the collapsible content */
        .collapsible {
            color: #000;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 18px;
            font-family: 'Quicksand', sans-serif;
            border-bottom: 1px solid #000;
            position: relative;
            }
            
            .collapsible:after {
                content: '\002B';
                color: #000;
                font-weight: bold;
                float: right;
                margin-left: 5px;
                position: absolute;
                right: 0;
                bottom: 20px;
            }
            
            .active:after {
                content: "\2212";
                position: absolute;
                right: 0;
                bottom: 20px;
            }
            
            .content {
                width: 100%;
                padding: 0 18px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
                background-color:#fbb26b;
                font-size: 14px;
            }

            p{ 
                padding: 10px 0;
            }


    }

    .blog-articles-list-container {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        article {
            border-radius: 10px;
            border: 1px solid #ffffff;
            width: 30%;
            box-shadow: 0px 14px 41px -34px #457b9d;

            .blog-image-wrapper {
                width: 100%;
                height: 180x;
                border-radius: 10px 10px 0 0;
                overflow: hidden;
                margin: auto;
            }

            .post-title {
                h3 {
                    font-family: 'Quicksand', sans-serif;
                    font-size: 22px;
                    color: #000;
                    font-weight: 700;
                    margin: 10px 0;
                    padding: 0 10px;
                }
            }

            .post-publised-date {
                font-family: 'Quicksand', sans-serif;
                font-size: 13px;
                color: rgb(53, 53, 53);
                font-weight: 500;
                font-style: italic;
                padding: 0 10px;
            }

            .post-content {
                font-size: 16px;
                color: #000;
                font-weight: 500;
                margin: 10px 0;
                line-height: 27px;
                padding: 0 10px;
            }

            img {
                width: 100%;
            }
            
        }
    }

    .blog-article-container {
        padding-top: 40px;
        display: flex;
        
        .article-box {
            width: 75%;
            padding: 0 30px 0 0;
        }

        .newest-articles-box {
            width: 25%;
            padding: 0 0 0 20px;

            h4 {
                font-family: 'Quicksand', sans-serif;
                font-size: 22px;
                font-weight: 700;
            }

            ul {
                li {
                    margin: 20px 0;
                    line-height: 25px;
                        font-size: 18px;
                    a{
                        color: #000;
                        font-family: 'Quicksand', sans-serif;
                    }
                }
            }
        }

        .article-image {
            width: 100%;
            margin: 0 0 30px 0;
            img {
                width: 100%;
            }
        }

        h1 {
            font-family: 'Quicksand', sans-serif;
            font-size: 34px;
            font-weight: 700;
            line-height: 34px;;
        }

        h2 {
            font-family: 'Quicksand', sans-serif;
            font-size: 26px;
            font-weight: 700;
            line-height: 26px;
            padding: 20px 0 5px 0;
        }

        .post-published-date {
            font-family: 'Quicksand', sans-serif;
            font-size: 16px;
            font-style: italic;
            padding: 15px 0;
        }

        p {
            padding: 10px 0;
        }
    }


    .chem-logos-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        .chem-logo-box {
            width: 22%;
            position: relative;
            img {
                width: 100%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .aboutus-container {
        ul {
            margin: 20px 10px;
            li {
                margin: 0 10px;
                line-height: 25px;
                font-size: 18px;
                font-family: 'Quicksand', sans-serif;
            }
        }
    }

    .order-scope-box {
        p {
            font-family: 'Quicksand', sans-serif;
            font-size: 16px;
        }

        ul {
            li {
                font-family: 'Quicksand', sans-serif;
                font-size: 16px;
                margin: 5px 0;
            }
        }
    }

    



@media (max-width: 1220px) and (min-width: 767px){
    .content-container {
        width: calc(100% - 80px);
        min-width: 728px;
    }
}

@media (max-width: 767px) {
    .content-container {
        width: calc(100% - 60px);
        min-width: 286px;
    }
}



