@import "reset.scss";

    body {
        background:url(
            data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPklEQVQoU2NkQAPPnj0zlpKSOosuzogsAFOETTFcIbokOh+sEJd1yOKMuBTBnASTR3EjugeQFROlEKSBaIUAjLQm7mEQuUkAAAAASUVORK5CYII=
    ) repeat;

        font-family: 'Open Sans', sans-serif;
    }

    a{
        text-decoration: none;
    }

    p{
        line-height: 25px;
        padding-bottom: 20px;
    }

    strong {
        font-weight: 700;
    }

    .content-container {
        width: calc(80% - 180px);
        min-width: 1180px;
        margin: auto auto;
        position: relative;
        max-width: 2000px;
    }

    header {
        width: 100%;
        height: 150px;
        vertical-align: middle;
        border-bottom: 1px solid black;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        margin: auto;
        height: 100%;
        
        .menu__list{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            width: 100%;
            margin: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            .menu__item {
                margin: 0 25px 0 25px;
                cursor: pointer;
                font-family: 'Quicksand', sans-serif;
                a {
                    color: black;
                    font-weight: 700;
                    font-size: 17px;
                    &:hover {
                        color: #ff5809;
                    }
                }
            }
        }
        .logo {
            height: 100%;
            margin: 0 25px 0 25px;
            img {
                width: 100px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .menu-nav-box {
            .top-nav,.bottom-nav {
                height: 50%;
            }
            .contacts-box {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-size: 18px;
                font-weight: 700;
                font-family: 'Quicksand', sans-serif;
                font-style: italic;
                padding-left: 25px;
            }
            
        }
    }

    .main-banner {
        width: 100%;
        height: 500px;
        background-image: url('../images/sliderImages/background-slider-2.jpg');
        background-size: cover;
        background-position: 50% 50%;
    }

    .main-banner-title {
        max-width: 80%;
        margin: auto auto;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .title-box{
            z-index: 5;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 50px 50px 50px 50px;
            visibility: inherit;
            transition: none 0s ease 0s;
            text-align: inherit;
            line-height: 35px;
            border-width: 0px;
            margin: 0px;
            padding: 0px;
            letter-spacing: 0px;
            font-weight: 400;
            font-size: 12px;
            margin: 0px auto 15px auto;
        }

        h1{
            font-size: 32px;
            padding: 20px;
            font-weight: 700;
            font-family: 'Quicksand', sans-serif;
        }

    }

    .big-header,.medium-header {
        font-size: 28px;
        padding: 20px;
        font-weight: 700;
        margin: 35px auto 35px auto;
        text-align: center;
        font-family: 'Quicksand', sans-serif;

        &.big-header {
            font-size: 28px;
        }

        &.medium-header {
            font-size: 22px;
        }
    }

    .header-gap {
        &:before {
            content: "";
            width: 80px;
            height: 1px;
            margin: auto auto;
            display: block;
            background-color: #fbb26b;
            position: relative;
            top: -15px;
            border-radius: 50px;
            border: 1px solid #fbb26b;
        }
    }

    .service-container {
        display: flex;
        justify-content: center;
        margin: 20px auto;
        width: calc(100% - 20px);
        
        .service-box {
            width: 25%;
            margin: 0 15px 0 15px;
            .service-image-wrapper {
                width: 100%;
                height: 180x;
                border-radius: 10px;
                overflow: hidden;
                max-width: 300px;
                margin: auto;
            }
            .service-title {
                h3 {
                    text-align: center;
                    font-family: 'Quicksand', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                    margin: 10px 0;
                    line-height: 25px;
                }
            }
        }
    }

    .area-service-container,.howwework-service-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 20px 0;

        p{
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
            font-weight: 500;
        }

        ul {
            li {
                padding: 0 0 25px 20px;
                font-size: 18px;
                line-height: 20px;

            }
        }

        .cities-box {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .area-service-image {
            text-align: center;
            img {
                width: 60%;
            }
        }

        .howwework-service-video-box {
            text-align: center;
            iframe {
                border: 2px solid #fbb26b;
                border-radius: 10px;
            }
        }

        .howwework-service-box {
            display: flex !important;
            justify-content: center;
            flex-direction: row;
            outline: none;
            height: auto;
        }

        .slick-prev,.slick-next {
            width: 60px;
            height: 60px;
            z-index: 99;
            &:before {
                color: #fbb26b;
                font-size: 60px;
            }
        }
    }

    .left-side-content {
        width: 50%;
    }
    .right-side-content {
        width: 50%;
    }


    // MAIN SLIDER START

    .projects-slide {
        max-height: 300px;
        margin: 0 10px 0 10px;
    
        img {
            width: 100%;
            height: auto;
        }
    }

    .projects-image-1 {
        background: url('/images/mainSliderImages/3.jpg');
        background-size: cover;
        background-position: 50% 50%;
    }

    .projects-image-2 {
        background: url('/images/mainSliderImages/4.jpg');
        background-size: cover;
        background-position: 50% 50%;
    }

    .projects-image-3 {
        background: url('/images/mainSliderImages/5.jpg');
        background-size: cover;
        background-position: 50% 50%;
    }

    .projects-image-4 {
        background: url('/images/mainSliderImages/6.jpg');
        background-size: cover;
        background-position: 50% 50%;
    }

    .projects-image-5 {
        background: url('/images/mainSliderImages/7.jpg');
        background-size: cover;
        background-position: 50% 50%;
    }

    .projects-image-6 {
        background: url('/images/mainSliderImages/8.jpg');
        background-size: cover;
        background-position: 50% 50%;
    }

    // MAIN SLIDER END


    footer {
        margin: 30px 0 0 0;
        text-align: center;
        height: 80px;
        border-top: 1px solid black;

        p{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
        }
    }

    .service-contact-container {
        width: 100%;
        height: 300px;
        background: url('/images/commercial_1.jpg');
        background-size: cover;
        background-position: -200px 20%;
        position: relative;

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 70%);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        .service-contact-box {
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding: 20px;

            h2 {
                font-size: 32px;
                padding: 20px;
                font-weight: 700;
                font-family: 'Quicksand', sans-serif;
                color: #fff;
                position: relative;
                z-index: 9;
            }

            p {
                padding: 20px;
                color: #fff;
                position: relative;
                z-index: 9;
                font-size: 22px;
                line-height: 28px;
            }

            a{
                width: 100%;
                height: 100%;
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
            }

            .fb-btn {
                height: 70px;
                width: 70px;
                background: url(/images/FB-logo.png);
                background-size: cover;
                position: relative;
                z-index: 9;
                margin: auto auto;
            }

            .order-btn {
                font-size: 18px;
                padding: 20px;
                font-weight: 700;
                font-family: 'Quicksand', sans-serif;
                color: #fff;
                position: relative;
                z-index: 9;      
                border: 1px solid #fff;
                border-radius: 5%;
                width: 100px;
                margin: auto auto;
                top: 50%;
                transform: translateY(-50%);
        }


        }

    }

    .contact-container {
        .contact-box {
            font-size: 22px;
            font-weight: 700;
            text-align: center;
            padding: 80px 0 80px 0;
        }
    }

    .gallery-container {
        text-align: center;
        img {
            display: inline-block;
            height: 200px;
            margin: 20px;
            border: 1px solid #fbb26b;
        }
    }

    .our-projects-container {
        .projects-slide {
            border: 2px solid #fbb26b;
            border-radius: 10px;
        }
    }

    .prices-container {
        .price-table {
            width: 80%;
            margin: 20px auto;

            tr {
                transition: all 0.5s;

                border-bottom: 1px solid rgba(0, 0, 0, 0.09);
            }

            td {
                padding: 2px 0;
            }

            th {
                text-align: center;
                font-size: 22px;
                color: #000;
                line-height: 20px;
                font-weight: normal;
                padding: 0px 0px 10px 0px;
                font-family: 'Quicksand', sans-serif;
                font-weight: 700;
            }

            h3 {
                margin: 25px 0 15px 0;
            }

            .service-name {
                width: 75%;
                text-align: left;
                font-family: 'Quicksand', sans-serif;
                font-size: 16px;
                color: #000;
                line-height: 18px;
                font-weight: normal;   
                font-weight: 500; 
            }

            .service-price {
                width: 25%;
                text-align: right;
                font-family: 'Quicksand', sans-serif;
                font-size: 16px;
                color: #000;
                line-height: 18px;
                font-weight: normal;
                font-weight: 500; 
                vertical-align: middle;
            }

            .sub-info {
                display: block;
                font-family: 'Quicksand', sans-serif;
                font-size: 12px;
                font-style: italic;
            }
        }
    }

    .no-border {
        border-bottom: none !important;
    }

    .faq-container {
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 1s;
            position: relative;

            &:before {
                content: "+";
                font-family: lato-normal;
                font-size: 19px;
                color: #683d67;
                line-height: 30px;
                font-weight: normal;
                position: absolute;
                top: 12px;
                right: 19px;
            }            
          }

          .accordion.active {
                &:before {
                    content: "-";
                    top: 10px;
                    right: 19px;
                }
            
          }
          
          .active, .accordion:hover {
            background-color: #ccc; 
          }
          
          .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
            transition: 3s;
          }
    }

    .blog-articles-list-container {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        article {
            border-radius: 10px;
            border: 1px solid #ffffff;
            width: 30%;
            box-shadow: 0px 14px 41px -34px #457b9d;

            .blog-image-wrapper {
                width: 100%;
                height: 180x;
                border-radius: 10px 10px 0 0;
                overflow: hidden;
                margin: auto;
            }

            .post-title {
                h3 {
                    font-family: 'Quicksand', sans-serif;
                    font-size: 22px;
                    color: #000;
                    font-weight: 700;
                    margin: 10px 0;
                    padding: 0 10px;
                }
            }

            .post-publised-date {
                font-family: 'Quicksand', sans-serif;
                font-size: 13px;
                color: rgb(53, 53, 53);
                font-weight: 500;
                font-style: italic;
                padding: 0 10px;
            }

            .post-content {
                font-size: 16px;
                color: #000;
                font-weight: 500;
                margin: 10px 0;
                line-height: 27px;
                padding: 0 10px;
            }

            img {
                width: 100%;
            }
            
        }
    }

    .blog-article-container {
        padding-top: 40px;
        display: flex;
        
        .article-box {
            width: 75%;
            padding: 0 30px 0 0;
        }

        .newest-articles-box {
            width: 25%;
            padding: 0 0 0 20px;

            h4 {
                font-family: 'Quicksand', sans-serif;
                font-size: 22px;
                font-weight: 700;
            }

            ul {
                li {
                    margin: 20px 0;
                    line-height: 25px;
                        font-size: 18px;
                    a{
                        color: #000;
                        font-family: 'Quicksand', sans-serif;
                    }
                }
            }
        }

        .article-image {
            width: 100%;
            margin: 0 0 30px 0;
            img {
                width: 100%;
            }
        }

        h1 {
            font-family: 'Quicksand', sans-serif;
            font-size: 34px;
            font-weight: 700;
            line-height: 34px;;
        }

        h2 {
            font-family: 'Quicksand', sans-serif;
            font-size: 26px;
            font-weight: 700;
            line-height: 26px;
            padding: 20px 0 5px 0;
        }

        .post-published-date {
            font-family: 'Quicksand', sans-serif;
            font-size: 16px;
            font-style: italic;
            padding: 15px 0;
        }

        p {
            padding: 10px 0;
        }
    }



@media (max-width: 1220px) and (min-width: 767px){
    .content-container {
        width: calc(100% - 80px);
        min-width: 728px;
    }
}

@media (max-width: 767px) {
    .content-container {
        width: calc(100% - 60px);
        min-width: 286px;
    }
}