@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPklEQVQoU2NkQAPPnj0zlpKSOosuzogsAFOETTFcIbokOh+sEJd1yOKMuBTBnASTR3EjugeQFROlEKSBaIUAjLQm7mEQuUkAAAAASUVORK5CYII=) repeat;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 25px;
  padding-bottom: 20px;
}

strong {
  font-weight: 700;
}

.content-container {
  width: calc(80% - 180px);
  min-width: 1180px;
  margin: auto auto;
  position: relative;
  max-width: 2000px;
}

header {
  width: 100%;
  height: 150px;
  vertical-align: middle;
  border-bottom: 1px solid black;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin: auto;
  height: 100%;
}
.menu .menu__list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.menu .menu__list .menu__item {
  margin: 0 15px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
}
.menu .menu__list .menu__item a {
  color: black;
  font-weight: 700;
  font-size: 15px;
}
.menu .menu__list .menu__item a:hover {
  color: #ff5809;
}
.menu .logo {
  height: 100%;
  margin: 0 25px 0 25px;
}
.menu .logo img {
  width: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.menu .menu-nav-box .top-nav, .menu .menu-nav-box .bottom-nav {
  height: 50%;
}
.menu .menu-nav-box .contacts-box {
  padding-left: 25px;
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 100%;
}
.menu .menu-nav-box .contacts-box .fb-btn {
  height: 50px;
  width: 50px;
  background: url(/images/FB-logo.png);
  background-size: cover;
  z-index: 9;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.menu .menu-nav-box .contacts-box .fb-btn a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.menu .menu-nav-box .contacts-box .phone-contact {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  height: 20px;
}
.menu .menu-nav-box .contacts-box .phone-contact i {
  margin: 0 10px 0 0;
}

.main-banner {
  width: 100%;
  height: 500px;
  background-image: url(/images/background-slider-2.jpg?d83bf7c1eb4b472fd44d49cd26fbc73e);
  background-size: cover;
  background-position: 50% 50%;
}

.main-banner-title {
  max-width: 80%;
  margin: auto auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.main-banner-title .title-box {
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px 50px 50px 50px;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: inherit;
  line-height: 35px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 12px;
  margin: 0px auto 15px auto;
}
.main-banner-title h1 {
  font-size: 28px;
  padding: 20px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}

.big-header, .medium-header {
  font-size: 28px;
  padding: 20px;
  font-weight: 700;
  margin: 35px auto 35px auto;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.big-header.big-header, .medium-header.big-header {
  font-size: 28px;
}
.big-header.medium-header, .medium-header.medium-header {
  font-size: 22px;
}

.header-gap:before {
  content: "";
  width: 80px;
  height: 1px;
  margin: auto auto;
  display: block;
  background-color: #fbb26b;
  position: relative;
  top: -15px;
  border-radius: 50px;
  border: 1px solid #fbb26b;
}

.service-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: calc(100% - 20px);
}
.service-container .service-box {
  width: 25%;
  margin: 0 15px 0 15px;
}
.service-container .service-box .service-image-wrapper {
  width: 100%;
  height: 180x;
  border-radius: 10px;
  overflow: hidden;
  max-width: 300px;
  margin: auto;
}
.service-container .service-box .service-title h3 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
  line-height: 25px;
}

.area-service-container, .howwework-service-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0;
}
.area-service-container p, .howwework-service-container p {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.area-service-container ul li, .howwework-service-container ul li {
  padding: 0 0 15px 30px;
  font-size: 18px;
  line-height: 22px;
}
.area-service-container .cities-box, .howwework-service-container .cities-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.area-service-container .area-service-image, .howwework-service-container .area-service-image {
  text-align: center;
}
.area-service-container .area-service-image img, .howwework-service-container .area-service-image img {
  width: 60%;
}
.area-service-container .howwework-service-video-box, .howwework-service-container .howwework-service-video-box {
  text-align: center;
}
.area-service-container .howwework-service-video-box iframe, .howwework-service-container .howwework-service-video-box iframe {
  border: 2px solid #fbb26b;
  border-radius: 10px;
}
.area-service-container .howwework-service-box, .howwework-service-container .howwework-service-box {
  display: flex !important;
  justify-content: center;
  flex-direction: row;
  outline: none;
  height: auto;
}
.area-service-container .slick-prev, .area-service-container .slick-next, .howwework-service-container .slick-prev, .howwework-service-container .slick-next {
  width: 60px;
  height: 60px;
  z-index: 99;
}
.area-service-container .slick-prev:before, .area-service-container .slick-next:before, .howwework-service-container .slick-prev:before, .howwework-service-container .slick-next:before {
  color: #fbb26b;
  font-size: 60px;
}

.left-side-content {
  width: 50%;
}

.right-side-content {
  width: 50%;
}

.projects-slide {
  max-height: 300px;
  margin: 0 10px 0 10px;
}
.projects-slide img {
  width: 100%;
  height: auto;
}

.projects-image-1 {
  background: url("/images/mainSliderImages/3.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.projects-image-2 {
  background: url("/images/mainSliderImages/4.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.projects-image-3 {
  background: url("/images/mainSliderImages/5.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.projects-image-4 {
  background: url("/images/mainSliderImages/6.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.projects-image-5 {
  background: url("/images/mainSliderImages/7.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.projects-image-6 {
  background: url("/images/mainSliderImages/8.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

footer {
  margin: 30px 0 0 0;
  text-align: center;
  height: 80px;
  border-top: 1px solid black;
}
footer p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}

.service-contact-container {
  width: 100%;
  height: 300px;
  background: url("/images/commercial_1.jpg");
  background-size: cover;
  background-position: -200px 20%;
  position: relative;
}
.service-contact-container:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.service-contact-container .service-contact-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}
.service-contact-container .service-contact-box h2 {
  font-size: 32px;
  padding: 20px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  position: relative;
  z-index: 9;
}
.service-contact-container .service-contact-box p {
  padding: 20px;
  color: #fff;
  position: relative;
  z-index: 9;
  font-size: 22px;
  line-height: 28px;
}
.service-contact-container .service-contact-box a {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
}
.service-contact-container .service-contact-box .fb-btn {
  height: 70px;
  width: 70px;
  background: url(/images/FB-logo.png);
  background-size: cover;
  position: relative;
  z-index: 9;
  margin: auto auto;
}
.service-contact-container .service-contact-box .order-btn {
  font-size: 18px;
  padding: 20px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  position: relative;
  z-index: 9;
  border: 1px solid #fff;
  border-radius: 5%;
  width: 100px;
  margin: auto auto;
  top: 50%;
  transform: translateY(-50%);
}

.contact-container .contact-box {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding: 80px 0 80px 0;
}

.gallery-container {
  text-align: center;
}
.gallery-container img {
  display: inline-block;
  height: 200px;
  margin: 20px;
  border: 1px solid #fbb26b;
}

.our-projects-container .projects-slide {
  border: 2px solid #fbb26b;
  border-radius: 10px;
}

.prices-container .price-table {
  width: 80%;
  margin: 20px auto;
}
.prices-container .price-table tr {
  transition: all 0.5s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.prices-container .price-table td {
  padding: 2px 0;
}
.prices-container .price-table th {
  text-align: center;
  font-size: 22px;
  color: #000;
  line-height: 20px;
  font-weight: normal;
  padding: 0px 0px 10px 0px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.prices-container .price-table h3 {
  margin: 25px 0 15px 0;
}
.prices-container .price-table .service-name {
  width: 75%;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 18px;
  font-weight: normal;
  font-weight: 500;
}
.prices-container .price-table .service-price {
  width: 25%;
  text-align: right;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 18px;
  font-weight: normal;
  font-weight: 500;
  vertical-align: middle;
}
.prices-container .price-table .sub-info {
  display: block;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-style: italic;
}

.no-border {
  border-bottom: none !important;
}

.faq-container {
  /* Style the button that is used to open and close the collapsible content */
}
.faq-container .collapsible {
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  border-bottom: 1px solid #000;
  position: relative;
}
.faq-container .collapsible:after {
  content: "+";
  color: #000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  position: absolute;
  right: 0;
  bottom: 20px;
}
.faq-container .active:after {
  content: "−";
  position: absolute;
  right: 0;
  bottom: 20px;
}
.faq-container .content {
  width: 100%;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fbb26b;
  font-size: 14px;
}
.faq-container p {
  padding: 10px 0;
}

.blog-articles-list-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.blog-articles-list-container article {
  border-radius: 10px;
  border: 1px solid #ffffff;
  width: 30%;
  box-shadow: 0px 14px 41px -34px #457b9d;
}
.blog-articles-list-container article .blog-image-wrapper {
  width: 100%;
  height: 180x;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  margin: auto;
}
.blog-articles-list-container article .post-title h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  color: #000;
  font-weight: 700;
  margin: 10px 0;
  padding: 0 10px;
}
.blog-articles-list-container article .post-publised-date {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  color: #353535;
  font-weight: 500;
  font-style: italic;
  padding: 0 10px;
}
.blog-articles-list-container article .post-content {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin: 10px 0;
  line-height: 27px;
  padding: 0 10px;
}
.blog-articles-list-container article img {
  width: 100%;
}

.blog-article-container {
  padding-top: 40px;
  display: flex;
}
.blog-article-container .article-box {
  width: 75%;
  padding: 0 30px 0 0;
}
.blog-article-container .newest-articles-box {
  width: 25%;
  padding: 0 0 0 20px;
}
.blog-article-container .newest-articles-box h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.blog-article-container .newest-articles-box ul li {
  margin: 20px 0;
  line-height: 25px;
  font-size: 18px;
}
.blog-article-container .newest-articles-box ul li a {
  color: #000;
  font-family: "Quicksand", sans-serif;
}
.blog-article-container .article-image {
  width: 100%;
  margin: 0 0 30px 0;
}
.blog-article-container .article-image img {
  width: 100%;
}
.blog-article-container h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
}
.blog-article-container h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  padding: 20px 0 5px 0;
}
.blog-article-container .post-published-date {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-style: italic;
  padding: 15px 0;
}
.blog-article-container p {
  padding: 10px 0;
}

.chem-logos-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.chem-logos-container .chem-logo-box {
  width: 22%;
  position: relative;
}
.chem-logos-container .chem-logo-box img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.aboutus-container ul {
  margin: 20px 10px;
}
.aboutus-container ul li {
  margin: 0 10px;
  line-height: 25px;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
}

.order-scope-box p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}
.order-scope-box ul li {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  margin: 5px 0;
}

@media (max-width: 1220px) and (min-width: 767px) {
  .content-container {
    width: calc(100% - 80px);
    min-width: 728px;
  }
}
@media (max-width: 767px) {
  .content-container {
    width: calc(100% - 60px);
    min-width: 286px;
  }
}
