footer {
    margin: 30px 0 0 0;
    text-align: center;
    border-top: 1px solid black;
    background-color: #232022;
    
    p{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
        text-align: center;
    }

    .footer-logo-img {
        img {
            width: 130px;
        }
    }

    .top-footer-content {
        display: flex;
        justify-content: space-around;
        .contact-footer {
            .fb-btn {
                height: 50px;
                width: 50px;
                background: url(/images/FB-logo.png);
                background-size: cover;
                z-index: 9;
                display: block;
                margin: 10px auto 10px auto;
                position: relative;

                a{ 
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                }
            }

            .phone-contact {
                font-size: 20px;
                font-weight: 700;
                font-family: 'Quicksand', sans-serif;
                font-style: italic;
                height: 20px;
                color: #fff;
                margin: 10px 0;

                i {
                    margin: 0 10px 0 0;
                    -webkit-animation: PHONE-RING 2s infinite;
                    -webkit-animation-iteration-count: infinite;
                }
 
            }
        }
        .shortcut-footer-text {
            font-size: 16px;
            font-weight: 500;
            font-family: 'Quicksand', sans-serif;
            color: #fff;
            margin: 20px 0 0 0;
        }

    

        .footer-menu-box {
            margin: 5px 0 0 0;
            a {
                color: #fff;
                font-size: 13px;
                &:hover {
                    color: #ffb26b;
                }
            }
            color: red;
        }
    }

    .bottom-footer-content {
        margin: 20px 0 0 0;
        .footer-cities {
            font-size: 13px;
            font-weight: 500;
            font-family: 'Quicksand', sans-serif;
            color: #fff;
            padding: 0 10px 0 10px;
        }
        .footer-copyrights {
            font-size: 16px;
            font-weight: 500;
            font-family: 'Quicksand', sans-serif;
            color: #fff;
            margin: 20px 0 0 0;
            padding: 0 0 20px 0;
        }
        
    }
}