@media (max-width: 767px) {
    footer {
        .top-footer-content {
            flex-wrap: wrap;
        }
        .shortcut-menu-footer {
            display: none;
        }
        .bottom-footer-content {
            .footer-copyrights {
                padding: 0 10px 20px 10px !important;
                font-size: 14px !important;
                line-height: 18px;
                a{
                    color: #fff;
                }
            }
        }
    }
}