// TABLET START

@media (max-width: 1220px) and (min-width: 767px){
   header {
       .menu {
           .bottom-nav {
               .menu__list {
                   .menu__item { 
                       margin: 0 8px;
                       a {
                            font-size: 14px;
                       }
                   }
               }
           }

           .logo {
               margin: 0 0 0 0;
           }
       }
   }

   .menu-list-container {
       display: none;
   }
   .menu-box {
       display: none;
   }


}

// TABLET END



@media (max-width: 767px) {

    .mobile-menu {
        display: block;

        .phone-contact-mobile {
            width: 100px;
            height: 60px;
            position: absolute;
            top: 0px;
            right: 10%;
            transform: translateX(90%);
            font-size: 30px;
            a {
                position: absolute;
                width: 100px;
                top: 50%;
                transform: translateY(-50%);
                i {
                    color:#E77843;
                    -webkit-animation: PHONE-RING 2s infinite;
                    -webkit-animation-iteration-count: infinite;
                }
            }
        }
    }

    header {
        // display: none;

        // TODO

        height: auto;

        .menu {
            flex-wrap: wrap;
            width: 100%;
            .logo {
                text-align: center;
                height: auto;
                margin: 10px auto;
                img {
                    width: 70px;
                }
            }

            .menu__list {
                display: block;
                width: 100%;
                margin: 5px 0;
                text-align: center;
                .menu__item {
                    width: 100%;
                    text-align: center;
                    margin: 5px 0;
                }
            }

            .menu-nav-box {
                display: flex;
                flex-wrap: wrap;
                margin: 20px 0;
                .contacts-box {
                    padding-left: 0;
                    justify-content: space-between;
                }
                .top-nav {
                    width: 100%;
                    height: 25%;
                }
                .bottom-nav {
                    height: 75%;
                    margin-bottom: 20px;
                    margin: 10px auto 20px auto;
                    ul {
                        .menu__item {
                            width: 100%;
                            text-align: center;
                            margin: 10px;
                        }
                    }
                }
            }
        }
    }

    .mobile-logo {
            width: 100px;
            height: 60px;
            position: absolute;
            top: 0px;
            left: 48%;
            transform: translateX(-48%);
        img {
            position: absolute;
            width: 100px;
            top: 50%;
            transform: translateY(-50%);
        }
        
    }


        // MENU 

    .menu-box{
        display: block;
        float: left;
        height: 60px;
        position: absolute;
        z-index: 996;
        width: 100%;
        background-color: #232022;
    }
        
    .nav-trigger {
        font-size: 14px;
        color: #fff;
        display: block;
        width: 30px;
        height: 60px;
        letter-spacing: 1px;
        position: relative;
        top: 0px;
        left: 20px;
        em {
            font-style: normal;
            position: absolute;
            left: 36px;
            top: 26px;
        }
        span {
            top: 30px;
        }
    
        &:hover{
            color: #fff;
        }
    }
    .nav-open em {
        display: none;
    }
    .nav-trigger span,
    .nav-trigger span::before,
    .nav-trigger span::after {
        display: block;
        width: 28px;
        height: 3px;
        background: #E77843;
        position: relative;
        transition: background .3s, transform .3s;
    }
    .nav-trigger span::before,
    .nav-trigger span::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    }
    .nav-trigger span::before {
        transform: translateY(-8px);
    }
    .nav-trigger span::after {
        transform: translateY(8px);
    }
    
    .nav-open .nav-trigger {
        position: fixed;
    }
    .nav-open .nav-trigger span {
        background: transparent;
    }
    .nav-open .nav-trigger span::before {
        transform: rotate(45deg);
    }
    .nav-open .nav-trigger span::after {
        transform: rotate(-45deg);
    }
    .nav-open .nav-trigger span::before,
    .nav-open .nav-trigger span::after {
        background: #fff;
    }
    
    .overlaylayer {
        opacity: 0;
        transition: opacity .3s;
    }
    .nav-open .overlaylayer {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(231, 120, 67, 0.5);
        left: 0;
        top: 0;
        z-index: 990;
        opacity: 1;
    }
    
    .nav-open .logo-box {
        position: fixed;
        margin-left: 133px;
    }
    .nav-open .menu-list-container {
        transform: translateY(0);
        transition: transform .3s;
    }
    
    .menu-list-container{
        transform: translateY(-100%);
        transition: transform .3s;
        position: fixed;
        z-index: 995;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: #e77843;
    
        .menu-list{
            margin: 127px auto 50px auto;
            text-align: center;
            list-style-type: none;
    
            li{
                a{
                    font-size: 14px;
                    color: #fff;
                    text-decoration: none;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 700;
    
                    &:hover{
                        font-size: 14px;
                    color: #fff;
                    }
                }
                letter-spacing: 4px;
                margin-bottom: 25px;
            }
        }
    
        .menu-sub-list{
            display: none;
            text-align: left;
            margin: 0 0 0 50%;
            list-style-type: none;
    
            li{
                a{
                    font-size: 14px;
                    color: #fff;
                   
    
                    &:hover{
                        font-size: 14px;
                    color: #fff;
                    }
    
                    &:active{
                        font-size: 14px;
                        color: #fff;
                    }
                }
                margin-bottom: 15px;
            }
        }
    }
    
    .submenu-underlist{
        margin-bottom: 0px !important;
    }


        // MENU
    







.menu-container{

    display: none;
}

.menu-list-container{
    .menu-sub-list{
        margin: 0 0 0 0;
        
        li{
            a{
                font-size: 16px;
                line-height: 16px;
                
                &:hover{
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
    }
    
    .menu-list{
        li{
            margin-bottom: 18px;
            a{
                font-size: 22px;
                line-height: 22px;
                
                &:hover{
                    font-size: 22px;
                    line-height: 22px;
                }
            }
        }
    }
}

.menu {
    display: none;
}


}